<!-- <header> -->
<!--     <nav> -->
<!--     <div class="navbar navbar-inverse navbar-fixed-top"> -->
<!--         <div class="navbar-inner"> -->
<!--         	<div class="container"> -->
<!--                 <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> -->
<!--                     <span class="icon-bar"></span> -->
<!--                     <span class="icon-bar"></span> -->
<!--                     <span class="icon-bar"></span> -->
<!--                 </a> -->
<!--                 <a class="brand" href="/">Project name</a> -->
<!--                 <div class="nav-collapse collapse"> -->
<div class="masthead">
	<h3 class="muted">Project name</h3>
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">
				<blc:categories resultVar="navCategories"
					parentCategory="Primary Nav" maxResults="6" />
				<ul class="nav">
					<li th:each="category : ${navCategories}"><a class="active"
						th:href="@{${category.url}}"
						th:class="${categoryStat.first}? 'active'"
						th:text="${category.name}"></a></li>
				</ul>

				<!--  <ul class="nav">
                        <li class="active"><a href="#">HOME</a></li>
                        <li><a href="#about">HOT SAUCES</a></li>
                        <li><a href="#contact">MERCHANDISE</a></li>
                        <li><a href="#contact">CLEARANCE</a></li>
                        <li><a href="#contact">NEW TO HOT SAUCE?</a></li>
                        <li><a href="#contact">FAQS</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>-->
				<!--<form class="navbar-form pull-right">
                        <input class="span2" type="text" placeholder="Email"/>
                        <input class="span2" type="password" placeholder="Password"/>
                        <button type="submit" class="btn">Sign in</button>-->
				<div id="search">
					<blc:form th:action="@{/search}" method="GET"
						class="navbar-form pull-right">
						<input type="search" class="search" name="q"
							th:value="${originalQuery}" />
						<input type="submit" id="search_button" value="go" />
					</blc:form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--</form>-->
<!--                 </div>/.nav-collapse -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!--     </nav> -->
<!--  
    <div id="header_content">
        <div id="cart_info">

            <div th:if="${customer.anonymous}"  th:remove="tag">

                <a class="account" th:href="@{/login}">
                    <span th:text="#{home.login}">Login</span>
                </a>
                &nbsp;|&nbsp; 
                <a class="account" th:href="@{/register}">
                    <span th:text="#{home.register}">Register</span>
                </a>
                &nbsp;|&nbsp; 
            </div>
            <div th:unless="${customer.anonymous}" th:remove="tag">
                <span><span th:text="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>
                &nbsp;|&nbsp; 
                <a th:href="@{/logout}">
                    <span th:text="#{home.logout}">Logout</span>
                </a>
                &nbsp;|&nbsp; 
            </div>

            <span id="headerCartItemWordSingluar_i18n" style="display: none;" th:text="#{home.item}">item</span>
            <span id="headerCartItemWordPlural_i18n" style="display: none;" th:text="#{home.items}">items</span>
            <span th:text="#{home.items}">Welcome</span>
            <a id="cartLink" class="fancycart" th:href="@{/cart}">
                <img th:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" />
                &nbsp; 
                <span class="headerCartItemsCount" th:text="${cart.itemCount}" />
                <span class="headerCartItemsCountWord" th:text="${cart.itemCount == 1} ? #{home.item} :  #{home.items}" />
            </a>

        </div>

        <div id="logo"><h1><a th:href="@{/}">The Heat Clinic Home</a></h1></div>
        
        <div id="search">
            <blc:form th:action="@{/search}" method="GET">
            <input type="search" class="search" name="q" th:value="${originalQuery}" />
            <input type="submit" id="search_button" value="go" />
            </blc:form>
        </div>
    </div>
    -->
<!-- </header> -->